@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-background;
}

div#root{
  max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    min-height: 100vh;
}


.title--h1{
  @apply text-4xl sm:text-5xl;
}
.title--h2{
  @apply text-2xl;
}
.title--h3{
  @apply text-xl;
}
.title--h4{
  @apply text-lg;
}
.title--h5{
  @apply text-base;
}
.title--h6{
  @apply text-sm;
}

p{
  @apply text-base
}

button > p {
  padding: 0 !important;
  margin: 0 !important;
}